.title {
	text-align: center;
}

.player_board {
	padding-left: 100px;
}

.player {
	font-size: 35px;
	color: blue;
}

.gameboard {
	width: 300px;
	height: 310px;
	margin: 50px auto 0 auto;
	border: 2px solid #ccc;
}

.gameboard .top,
.gameboard > .middle {
	border-bottom: 1px solid #000;
}

.square {
	position: relative;
	display: inline-block;
	width: 33.33%;
	height: 100px;
}

.square.middle {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.square.right {
	margin-left: -10px;
}


.Xsymbol,
.Osymbol {
	position: absolute;
	top: 50%;
	left: 50%;
}